.BoxForm2 {
    color: black;
    width: 322px;
    max-height: 100%x;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    position: absolute;
    left: 858px;
    top: 18px;
    border: 2px solid white;
    background-color: rgb(217, 223, 223);
  }

div {
    margin-top: 5px;
    margin-bottom: 5px;
}

button {
    background-color: darkblue;
    color: white;
    border: 0;
    height: 20px;
    margin-bottom: 20px;
    margin-top: 5px;
}

hr {
    background-color: white;
    width: 310px;
    height: 1px;
}
